img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.card-body{
    width: 200px;
    height: 200px;
    text-align: left;
}
.card-title{

    background-color: orange;
    font-size: 12px;
    color: #000;
    text-transform: capitalize;
    border-color: coral;
}
.card-title:hover{
    background-color: orange;
    border-color: coral;
}
.img-body{
     margin: 10px;
}